header{
  text-align: center;
  text-size: 30px;
}

p{
  color: red;
}
ul{
  Background: rgba(0,0,0,0,.5)
}
li{
  display: inline;
  padding: 0px 50px 0px 50px;
  font-size: 20px;
  font-family: 'kumar one';
}

img{
  border-radius: 40px;
  border: 10px solid black;
}

h1{
  font-size: 75px;
  font-family: 'kumar one';
}

h2{
  font-size: 40px;
  font-family: 'kumar one';


}
