

header{
  text-align: center;
  Background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b2/United_States_Capitol_-_west_front.jpg');
  background-size: cover;
  margin-bottom: 30px;

}
Body{
  background-color: grey;
}
p{
  color: red;
  margin-bottom: 100px;
  font-size: 20px;


}

ul{
  padding: 10px;
  Background: rgba(0,0,0,1);


}

li{
  display: inline;
  padding: 0px 50px 0px 50px;
  font-size: 20px;
  font-family: 'kumar one';
  Color: white;

}

img{
  border-radius: 40px;
  border: 10px solid black;

}

h1{
  font-size: 80px;
  font-family: 'kumar one';
  padding-top: 20px;
  color:white

}

h2{
  font-size: 45px;
  font-family: 'kumar one';
  color: white;
  text-decoration:underline;
  margin-bottom: 30px;
}

.ACP{
  border: 20px solid black;
  padding-left: 25px;
  Border-radius: 20px;
  Margin-bottom: 20px;
  background:black;



}
a{
  color: white;
}

a:hover{
  color:red;
}
